# Modify this file and save it as <algo>.config

# Replace with your ETH config
MINER="gminer"
POOL="//eth-us-west.flexpool.io"
PORT="5555"
WALLET="myWalletAddress.myWorkerName"
EXTRA_ARGS="--ssl 1"

# Add bash arrays for GPU overclocks.
# Each parameter is optional except for index (-i <gpu>)
# See overclock_nvidia.sh and overclock_amd.sh for details
#
# -i <gpu_index> -c <absolute_core_clock> -m <memory_offset> -p <power_limit> -f <fan_speed>
OVERCLOCK_NVIDIA=(
	"-i 0 -c 1125 -m 2200 -p 320 -f 75"
	"-i 1 -c 1450 -m 2500 -p 130 -f 60"
	"-i 2 -c 1050 -m 2200 -p 90  -f 60"
	"-i 3 -c 1050 -m 2200 -p 90  -f 60"
)

# -i <gpu_index> -c <absolute_core_clock> -v <core_voltage_mv> -m <absolute_memory_clock> -t <memory_voltage_mv> -f <fan_speed>
OVERCLOCK_AMD=(
	"-i 0 -c 1150 -v 875 -m 2200 -t 950 -f 70"
)
